<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script src="https://unpkg.com/htmx.org@1.9.3"></script>
    <title>Major</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
<div th:fragment="head" id="head" class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-6">
                <h2>ข้อมูลสาขาวิชา</h2>
                <a type="button"
                   class="btn btn-outline-success"
                   href="/">หน้าแรก</a>
            </div>
            <div class="col-4">
                <div class="d-flex justify-content-end">
                    <a type="button"
                       class="btn btn-outline-success"
                       href="/major/add"
                    >เพิ่มข้อมูลสาขาวิชา</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row d-flex justify-content-center" th:fragment="detail" id="detail" >
    <div class="card-body row">
        <table class="table table-responsive table-hover">
            <thead class="text-center">
            <tr>
                <th>รหัสสาขาวิชา</th>
                <th>ชื่อสาขาวิชา</th>
                <th>การจัดการ</th>
            </tr>
            </thead>
            <tbody class="text-center">
            <tr th:each="major:${majors}" id="major">
                <td th:text="${major.id}"></td>
                <td th:text="${major.name}"></td>
                <td>
                    <a type="button"
                       th:attr="hx-delete=@{/major/{id}(id=${major.id})}"
                       hx-swap="outerHTML"
                       hx-target="closest #student">
                        <i class="bi bi-trash"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
