<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script src="https://unpkg.com/htmx.org@1.9.3"></script>
    <title>Student</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>

<div class="card mb-3" th:fragment="student">
    <div class="card-header">
        <div class="row">
            <div class="col-6">
                <h2>ข้อมูลนักศึกษา</h2>
                <a type="button"
                   class="btn btn-outline-success"
                   href="/">หน้าแรก</a>
            </div>
            <div class="col-6">
                <div class="d-flex justify-content-end">
                    <a type="button"
                       class="btn btn-outline-success"
                       href="/student/add"
                    >เพิ่มข้อมูลนักศึกษา</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <form hx-get="/student/search" hx-target="#detail" hx-params="*" name="search">
            <div class="row d-flex justify-content-center">
                <div class="row mb-3 col-8">
                    <label for="name" class="col-form-label col-md-5 col-xl-2 text-xl-end text-start">ชื่อ - นามสกุล</label>
                    <div class="col-md-7 col-xl-4">
                        <input type="text" class="form-control" id="name" name="name">
                    </div>
                    <label for="major" class="col-form-label col-md-5 col-xl-2 text-xl-end text-start">สาขาวิชา</label>
                    <div class="col-md-7 col-xl-4">
                        <select class="form-control" name="major" id="major" th:value="${major}">
                            <option th:text="โปรดระบุสาขาวิชา" th:value="null"></option>
                            <option th:each="major : ${majors}" th:text="${major.name}" th:value="${major.id}"></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="col-form-label col-md-5 col-xl-auto text-xl-center text-start responsive ms-3"
                         style="padding: 1px;">
                        <button class="btn btn-success me-1"
                                type="submit">
                            <i class="ti ti-search">ค้นหา</i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<div th:fragment="detail" id="detail" class="card mt-2">
    <div class="row d-flex justify-content-center">
        <div class="card-body row col-xl-5">
            <table class="table table-responsive table-hover">
                <thead class="text-center">
                <tr>
                    <th>รหัสนักศึกษา</th>
                    <th>ชื่อ - นามสกุล</th>
                    <th>เพศ</th>
                    <th>สาขาวิชา</th>
                    <th>เกรดเฉลี่ย</th>
                    <th>การจัดการข้อมูล</th>
                </tr>
                </thead>
                <tbody class="text-center">
                <tr th:each="student:${students}" id="student">
                    <td th:text="${student.id}"></td>
                    <td th:text="${student.name}"></td>
                    <td th:text="${student.gender}"></td>
                    <td th:text="${student.major?.name}"></td>
                    <td th:text="${student.gpa}"></td>
                    <td>
                        <a type="button"
                           th:href="@{/student/add/{id}(id=${student.id})}"
                        ><i class="bi bi-pencil"></i></a>

                        <a type="button"
                           th:attr="hx-delete=@{/student/{id}(id=${student.id})}"
                           hx-swap="outerHTML"
                           hx-target="closest #student">
                            <i class="bi bi-trash"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
</body>
</html>
